.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .dashboard__header {
    display: flex;
    padding: 10px 15px;
  }

  .dashboard__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;

    .dashboard__totals {
      display: flex;
      color: wheat;
      flex-direction: column;
      background-color: #5e1224;
      padding: 10px;
      border-radius: 15px;
      margin: 10px;
      align-items: center;
    }
  }
}